<ion-view>
  <ion-content class="padding">
  <div style="text-align:center;"><img src="../img/got-text.png"></div>
    <!--<div style="font-size:20px;color:#fff;">Number of Players</div>
        <div class="item-positive item-select item-input">
          <div class="item label">Select</div>
            <select>
                <option>2</option>
                <option>3</option>
                <option selected>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>-->
<div class="twister-box">
    <div class="twister-area" id="tongueTwister"></div>
    <div class="timer-area" id="timer"></div>
    <button class="custom-button icon ion-beer" onclick="randomInteger()"></button>
    <button class="custom-button icon ion-android-stopwatch" onclick="startTimer()"></button>
</div>
<div class="twister-box">
      <button class="instructions-button button button-assertive icon-center ion-document-text"><p style="font-size:14px">How to play</p></button>
</div>
  </ion-content>
</ion-view>
